mixin templates()
  .templates
    //- picker
    template#picker
      .picker
        .picker__item(v-class='is-open: opened')
          .picker__current(
            style='background: {{color == "transparent" ? "" : color}};'
            v-on='click: open'
            title='choose background color'
          )
          .picker__body
            .picker__input
              input(
                type='text'
                v-model='color'
              ).inp-text
              label.picker__call.fa.fa-eyedropper
                input(type='color' v-model='color').inp-color
            .picker__variants
              .picker__variants-item(
                v-repeat='presets'
                style='background: {{$value == "transparent" ? "" : $value}};'
                v-on='click: color = $value'
              )
              
    //- filters
    template#filters
      .sec__heading
        .sec__label filters
        .sec__btn(v-on='click: reset') reset
      .sec__inner
        .filters
          div(v-repeat='filters')
            label.filters__item(v-class='is-active: enabled')
              .check
                input(type='checkbox' v-model='enabled')
                span.check__display
              span.filters__label
                span.filters__property {{name}}
                span.filters__value(
                  v-on='mousedown: drag(this, $event)'
                  title='drag up or down to change'
                ) {{value.current}}{{value.measure}}
    //- blends
    template#blend
      .sec__heading
        .sec__label blend-mode
        .sec__btn(v-on='click: reset') reset
      .sec__inner
        .blend
          .blend__item(
            v-repeat='values'
            v-on='click: current = $index'
            v-class='is-active: current == $index'
          ) {{$value}}
    //- sources
    template#sources
      .source.sec
        .source__inner
          .source__item(
            v-repeat='items'
            v-class='is-selected: current == $index, is-hidden: hidden'
          )
            .source__cell
              .source__selected(
                v-on='click: switchSelected($index)'
                title='switch active background'
              )
            .source__cell.-input
              label.source__input
                input(
                  type='text'
                  v-model='url'
                  v-on='keyup: getBackgroundSize(this)'
                )
              label.source__upload(title='choose local file')
                i.fa.fa-file-image-o
                input(type='file' v-on='change: readURL').source__upload
            .source__cell
              span.part.-repeat(
                v-on='click: repeatClick(this)'
                title='Background repeat'
              ) {{repeat}}
              
            .source__cell
              span.part.-position(
                v-on='click: positionClick(this), mousedown: positionDrag($event, this)'
                title='Background position (click to toggle or drag)'
              )
                span {{isCenter ? 'center' : x}}{{isCenter ? '' : 'px'}}
                span {{isCenter ? 'center' : y}}{{isCenter ? '' : 'px'}}
            .source__cell
              span.part.-size(
                v-on='click: sizeClick(this), mousedown: sizeDrag(this, $event)'
                title='Background size (click to toggle or drag)'
              ) {{size == 'auto' ? 'auto' : size + '%'}}
            .source__cell.-hide
              span.part.-hide(
                v-on='click: hide($index)'
                v-show='items.length > 1'
                title='Hide background'
              ): i.fa.fa-eye-slash
